
@{
    ViewBag.Title = "ReprimarySalesProductwiseReport";
}

@*<h2>ReprimarySalesProductwiseReport</h2>*@

@Html.AntiForgeryToken()
<input type="hidden" id="hdnCurrentUserTypeId" value='@Session["UserTypeId"]' />

<div class="box box-warning">
    <div class="box-header with-border">
        <div class="box-header-left">
            <h3 class="box-title" style="line-height:2px;">Reprimary Sales Product Wise Report</h3>
        </div>
        <div class="box-header-right">
            <ul>
                <li>
                    <a href="javascript:void(0)" title="Excel" class="cart" onclick="Excel()"><i class="fa fa-file-excel-o"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal">
            <div class="row">

                @*<div class="col-md-3" id="DivddlZone">
            <span class="floating-input" id="ddlZone">
                <span class="highlight"></span>
                <label>Zone</label>
            </span>
        </div>*@
                <div class="col-md-3">
                    <div id="ddlZone"></div>
                </div>

                <div class="col-md-3" id="DivddlRegion">
                    <span class="floating-input" id="ddlRegion">
                        <span class="highlight"></span>
                        <label>Region</label>
                    </span>
                </div>

                <div class="col-md-3" id="DivddlCustomer">
                    <span class="floating-input" id="ddlCustomer">
                        <span class="highlight"></span>
                        <label>Super Stockist</label>
                    </span>
                </div>

                <div class="col-md-3">
                    <div id="ddlSubCategory"></div>
                </div>
                <div class="col-md-3" style="margin-top: 10px">
                    <div id="ddlItem"></div>
                </div>

                @*<div class="col-md-3" id="DivddlParentItemType" >
            <span class="floating-input" id="ddlParentItemType">
                <span class="highlight"></span>
                <label>Parent Item Type</label>
            </span>
        </div>

        <div class="col-md-3" id="DivddlItemType" style="margin-top: 10px;">
            <span class="floating-input" id="ddlItemType">
                <span class="highlight"></span>
                <label>Item Type</label>
            </span>
        </div>*@

                <div class="col-md-2" style="margin-top: 10px;">
                    <div id="txtDate"></div>
                </div>

                <div class="col-md-1" style="margin-top: 10px;">
                    <div class="floating-label" style="margin-top: 7px;">
                        <input name="ChkQty" type="checkbox" id="chkQty" /> @*onchange="chkChargesChange()"*@
                        <span class="highlight"></span>
                        <label style="left: 22px;top: 0px">Qty</label>
                    </div>
                    <div><span id="lblQTY"></span></div>
                </div>

                <div class="col-md-1" style="margin-top: 11px;">
                    <div class="floating-label" style="margin-top: 7px;">
                        <input name="ChkQty"  type="checkbox" id="chkValue" /> @*onchange="chkChargesChange()"*@
                        <span class="highlight"></span>
                        <label style="left: 22px;top: 0px">Value</label>
                    </div>
                    <div><span id="lblValue"></span></div>
                </div>

                @*<div class="col-md-3 ">
            <span class="floating-input" id="txtBuyer" style="
            height: 31px; border-radius: 5px;  display:none">
                <span class="highlight"></span>
                <label>Select Customer</label>
            </span>
        </div>*@

                <div class="col-md-2">
                    <a href='javascript:void(0)' class='btn btn-danger btn-flat' style='background: #e32228;margin-top: 11px' onclick='ReprimarySalesProductwiseReportDateToDateReport()'>Get Data</a><input type="hidden" id="HdnUserTypeId"><input type="hidden" id="HdnSelectedUser">
                </div>
            </div>

        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive ">
                    <div id="tblitem">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var RetailCategoryList = [];
    var varddlSubCategory = "";
    var ItemList = [];
    var SalesReportList = [];
    var ProductWiseList = [];
    var InventoryitemDetails = [];
    var varddlCategory = "";
    var varddlItemType = "";
    var varddlParentItemType = "";
    var varddlZone = "";
    var varddlRegion = "";
    var Now = new Date();
    var FDate = new Date();
    var CustomerList = [];
    var CustomerListDefault = [];
    var ddlZoneList = [];
    var ddlRegionList = [];
    var varddlCustomer = "";
    var varddlBuyer = "";
    var ReportTypeList = [];
    var varddlReportType = "";
    var varddlItem = "";
    var Regionid = "";
    var Zoneid = "";


    arrayCr = @Html.Raw(Json.Encode(@ViewBag.RetailCategoryList));


    if(arrayCr !=null)
    {
        for(var i = 0; i < arrayCr.length; i++){
            RetailCategoryList[i] = arrayCr[i];
        }
         //model = {};
         //model.RetailCategoryID = -1
         //model.RetailCategory = "All"
         //RetailCategoryList.push(model);

    }

    strUserTypeId = @Html.Raw(@ViewBag.UserTypeID);
    arrayCr1 = @Html.Raw(Json.Encode(@ViewBag.CustomerList));
    arrayRT = @Html.Raw("[{\"ReportType\":\"Summary\",\"ReportID\":2}, {\"ReportType\":\"Detail\",\"ReportID\":3}, {\"ReportType\":\"Reprimary Sales Product Wise Report\",\"ReportID\":1}, {\"ReportType\":\"Reprimary Sales Region Wise Report\",\"ReportID\":4}]");

    //var varCustomer = CustomerList.filter(function (customerlist) {
    //    return customerlist.ddlRegionList == ;
    //});

    let varcustomer = [];
    //for (let i = 0; i < CustomerList.length; i++) {
    //    if (RegionID == RegionID) {
    //        varcustomer.push([i]);
    //    }
    //}

    if (arrayCr1 != null)
    {
        debugger;
        //var regionID = $('#ddlRegion').val();
        //var newArray = CustomerList.filter(function (el) {
        //    return el.RegionID == regionID
        //});
        for (var i = 0; i < arrayCr1.length; i++){          
                CustomerList[i] = arrayCr1[i];         
        }
    }

    arrayCr2 = @Html.Raw(Json.Encode(@ViewBag.ddlZoneList));
    debugger;
    if (arrayCr2 != null) {
        for (var i = 0; i < arrayCr2.length; i++) {
            ddlZoneList[i] = arrayCr2[i];
        }
    }

    arrayCr3 = @Html.Raw(Json.Encode(@ViewBag.ddlRegionList));
    debugger;
    if (arrayCr3 != null) {
        for (var i = 0; i < arrayCr3.length; i++) {
            ddlRegionList[i] = arrayCr3[i];
        }
    }


    if (strUserTypeId == "22" || strUserTypeId == "23") {
        $("#DivddlCustomer").removeAttr("style");
    }

    for (var j = 0; j < arrayRT.length; j++) {
        ReportTypeList[j] = arrayRT[j];
    }

    $(document).ready(function () {

        debugger;

        if (document.getElementById("hdnCurrentUserTypeId").value == "22" || document.getElementById("hdnCurrentUserTypeId").value == "23") {
            $("#DivddlCustomer").removeAttr("style");
        }

        $("#txtDate").dxDateBox({
            height: 30,
            type: "date",
            value: FDate.setDate(FDate.getDate()),
            placeholder: "From Date",
            displayFormat: "dd/MMM/yyyy"
        });



        $("#ddlCustomer").dxSelectBox({
            height: 30,
            dataSource: new DevExpress.data.ArrayStore({
                data: CustomerListDefault,
                key: "PartyID"
            }),
            displayExpr: "Party",
            valueExpr: "PartyID",
            placeholder: "Select Super Stockist",
            searchEnabled: true,
            onValueChanged: function (data) {
                //var StockistID = $('#ddlCustomer').val();
                varddlCustomer = data.value
                GetBuyersbyPartyID();
            }
        });

        $("#ddlSubCategory").dxSelectBox({
            height: 30,
            dataSource: new DevExpress.data.ArrayStore({
                data: RetailCategoryList,
                key: "RetailCategoryID"
            }),
            displayExpr: "RetailCategory",
            valueExpr: "RetailCategoryID",
            placeholder: "Select Category",
            searchEnabled: true,
            onValueChanged: function (data) {
                varddlSubCategory = data.value
                ItemMasterGetByRetailCategoryId()
            }
        });

        $("#ddlItem").dxSelectBox({
            height: 30,
            dataSource: new DevExpress.data.ArrayStore({
                data: ItemList,
                key: "ItemId"
            }),
            displayExpr: "ItemName",
            valueExpr: "ItemId",
            placeholder: "Select Item",
            searchEnabled: true,
            onValueChanged: function (data) {
                varddlItem = data.value
                BindReportdata();
            }
        });


        $("#ddlZone").dxSelectBox({
            height: 30,
            dataSource: new DevExpress.data.ArrayStore({
                data: ddlZoneList,
                key: "SalesZoneID"
            }),
            displayExpr: "SalesZone",
            valueExpr: "SalesZoneID",
            placeholder: "Select Zone",
            searchEnabled: true,
            onValueChanged: function (data) {
                debugger;
                ddlZoneList = data.value
                Zoneid = data.value
                Region(data.value)

            }
        });

        $("#ddlRegion").dxSelectBox({
            height: 30,
            dataSource: new DevExpress.data.ArrayStore({
                data: ddlRegionList,
                key: "RegionID"
            }),
            displayExpr: "Region",
            valueExpr: "RegionID",
            placeholder: "Select Region",
            searchEnabled: true,
            onValueChanged: function (data) {
                debugger;

                Regionid = data.value
                // GetBuyersbyPartyID();
                // ddlRegionList = data.value
                ReFillStockistList()
            }

        });
       
    });


    function ItemMasterGetByRetailCategoryId() {
        try {
            debugger;
            if (varddlSubCategory == undefined || varddlSubCategory == null || varddlSubCategory == "") {
                return true
            }
            loadPanel.show();
            var data = { 'RetailCategoryId': varddlSubCategory };
            var dataWithAntiforgeryToken = $.extend(data, { '__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val() });
            $.ajax({
                url: "../Report/ItemMasterGetByRetailCategoryId",
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (Response) {
                    loadPanel.hide();
                    if (Response.StatusId != "99") {
                        ItemList = Response.Result;
                        //model = {};
                        //model.ItemId = -1
                        //model.ItemName = "All"
                        //ItemList.push(model);
                        $("#ddlItem").dxSelectBox('instance').option("dataSource", ItemList);
                    }
                    else {
                        alert(Response.Status);
                    }
                },
                error: function (xhr) {
                    loadPanel.hide();
                    alert("Data size is too large!");
                }
            });
        }
        catch (e) {
            loadPanel.hide();
            alert("Data size is too large!");
        }
    }

   

    function Region(vZoneID) {
        try {
            debugger;
            if (ddlZoneList == undefined || ddlZoneList == null || ddlZoneList == "") {
                return true
            }
            loadPanel.show();
            var data = { 'ZoneID': vZoneID };
            var dataWithAntiforgeryToken = $.extend(data, { '__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val() });
            $.ajax({
                url: "../Report/Region",
                type: 'POST',
                dataType: 'json',
                async: true,
                data: data,
                success: function (Response) {
                    loadPanel.hide();
                    if (Response.StatusId != "99") {
                        ddlRegionList = Response.Result;
                        //$("#ddlRegion").dxSelectBox('instance').option("dataSource", ddlRegionList);
                        FillRegion();
                    }
                    else {
                        alert(Response.Status);
                    }
                },
                error: function (xhr) {
                    loadPanel.hide();
                    alert("Data size is too large!");
                }
            });
        }
        catch (e) {
            loadPanel.hide();
            alert("Data size is too large!");
        }
    }
    function FillRegion() {
        debugger;
        $("#ddlRegion").dxSelectBox({
            height: 30,
            dataSource: new DevExpress.data.ArrayStore({
                data: ddlRegionList,
                key: "RegionID"
            }),
            displayExpr: "Region",
            valueExpr: "RegionID",
            placeholder: "Select Region",
            searchEnabled: true,
            onValueChanged: function (data) {
                debugger;

                Regionid = data.value
                // GetBuyersbyPartyID();
                // ddlRegionList = data.value
                ReFillStockistList()
            }

        });
        
    }
    function ReFillStockistList() {
        //var filterItemlist = $.grep(CustomerList, function (object) {
        //    return object.Regionid == Regionid;
        //})

        var Stockist = [];

        for (var i = 0; i < CustomerList.length; i++) {
            if (Number(CustomerList[i].RegionId) == Number(Regionid) ) {
                Stockist.push(CustomerList[i]);
                
            }
        }
        $("#ddlCustomer").dxSelectBox({
            height: 30,
            dataSource: new DevExpress.data.ArrayStore({
                data: Stockist,
                key: "PartyID"
            }),
            displayExpr: "Party",
            valueExpr: "PartyID",
            placeholder: "Select Super Stockist",
            searchEnabled: true,
            onValueChanged: function (data) {
                //var StockistID = $('#ddlCustomer').val();
                varddlCustomer = data.value
                GetBuyersbyPartyID();
            }
        });
    }
    

    function ItemLedgerGetByItemIdFromDateToDate() {
        if (CheckHeaderValidation()) {
            try {
                debugger;
                if (varddlSubCategory == undefined || varddlSubCategory == null || varddlSubCategory == "" || varddlItem == undefined || varddlItem == null || varddlItem == "") {
                    return true
                }

                loadPanel.show();
                var Vardate = SetDate($("#txtDate").dxDateBox('instance').option('value'));

                //Added by Kamini 17May2021---Customer Dropdown
                var VarPartyId = "0";

                if (strUserTypeId == "22" || strUserTypeId == "23") {
                    VarPartyId = varddlCustomer;
                }

                var data = { 'SubCategoryId': varddlSubCategory, 'ItemId': varddlItem, 'Fromdate': VarFromdate, 'Todate': VarToDate, 'PartyId': VarPartyId };
                //Added by Kamini 17May2021---Customer Dropdown

                var dataWithAntiforgeryToken = $.extend(data, { '__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val() });
                //alert(dataWithAntiforgeryToken);
                $.ajax({
                    url: "../Report/GetSalesProductWiseReport",
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: dataWithAntiforgeryToken,
                    success: function (Response) {
                        loadPanel.hide();
                        if (Response.StatusId != "99") {
                            LedgerReportList = Response.Result;
                            $("#tblitem").dxDataGrid('instance').option("dataSource", LedgerReportList);
                        }
                        else {
                            alert(Response.Status);
                        }
                    },
                    error: function (xhr) {
                        loadPanel.hide();
                        alert("Data size is too large!");
                    }
                });
            }
            catch (e) {
                loadPanel.hide();
                alert("Data size is too large!");
            }
        }
    }


    function SetDate(dateStr) {
        var strDate
        var now = new Date(dateStr);
        var Day = now.getDate()
        var Month = (now.getMonth() + 1)
        var Year = now.getFullYear()
        if (Day < 10) {
            Day = "0" + Day;
        }
        if (Month < 10) {
            Month = "0" + Month;
        }
        strDate = Month + "/" + Day + "/" + Year
        return strDate;
    }


    function GetBuyersbyPartyID() {
        try {
            debugger;

            //if (varddlCategory == undefined || varddlCategory == null || varddlCategory == "") {
            //    return true
            //}
            var strParty = $("#ddlCustomer").dxSelectBox('instance').option('value');
            //var strRegionId = $("#ddlRegion").dxSelectBox('instance').option('value');
            var data = { 'PartyID': strParty };
            if (strParty.length == 1) {
                //PartyVal = strParty[0].PartyID;
                PartyVal = strRegionId[0].PartyID;
            }
            else {
                PartyVal = "0";
            }
            var dataWithAntiforgeryToken = $.extend(data, { '__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val() });
            $.ajax({
                url: "../Home/GetBuyersbyPartyID",
                type: 'POST',
                dataType: 'json',
                data: dataWithAntiforgeryToken,
                async: true,
                success: function (Response) {
                    debugger;
                    if (Response.StatusId != "99") {
                        BuyerList = Response.Result;
                        //$("#ddlCustomer").dxSelectBox('instance').option("dataSource", CustomerList);
                        //$("#ddlCustomer").dxSelectBox('instance').option('value', CustomerList[0].PartyVal);
                        fillStockist();
                        fillbuyer();

                    }
                    else {

                        alert(Response.Status);
                    }
                },
                error: function (xhr) {
                    alert("Data size is too large!");
                }
            });
        }
        catch (e) {
            alert("Data size is too large!");
        }
    }


    function fillbuyer(){
         $("#txtBuyer").dxSelectBox({
                            dataSource: new DevExpress.data.ArrayStore({
                                data: BuyerList,
                                key: "PartyID"
                            }),
                            displayExpr: "Party",
                            valueExpr: "PartyID",
                            placeholder: "Select Customer",
                            searchEnabled: true,
                            onValueChanged: function (data) {
                            varddlBuyer = data.value;
                            }
                        });
    }

   

    function ReprimarySalesProductwiseReportDateToDateReport() {
        debugger;
        try
        {
            var SelCat = "";
            var SelItem = "";
            var SelStockist = "";
            var SelRegion = "";
            var SelZone = "";


            if (!$('#chkQty').is(':checked') && !$('#chkValue').is(':checked')) {
                alert("Please select Quantity or Value ");
                return false;     
            }
           

            //else if ($('#chkValue').is(':checked')) {

            //}
            //else
            //{
            //    alert("Please select Value ");
            //    return false;
            //}

            if (strUserTypeId == "22" || strUserTypeId == "23") {

                if (varddlCustomer == undefined || varddlCustomer == null) {
                    return true
                }
            }

            loadPanel.show();
            var Vardate = SetDate($("#txtDate").dxDateBox('instance').option('value'));


            //var VarPartyId = "0";
            var VarBuyerId = "0";
            if (varddlBuyer != "" && varddlBuyer != null)
                {
                VarBuyerId = varddlBuyer;
            }


            if (varddlSubCategory == "") {
                SelCat = "-1";
            }
            else {
                SelCat = varddlSubCategory;
            }

            if (varddlItem == "") {
                SelItem = "-1";
            }
            else {
                SelItem = varddlItem;
            }

            if (varddlCustomer == "") {
                SelStockist = "0";
            }
            else {
                SelStockist = varddlCustomer;
            }

            if (Regionid == "") {
                SelRegion = "0";
            }
            else
            {
                SelRegion = Regionid;
            }

            if (Zoneid == "") {
                SelZone = "0";
            }
            else {
                SelZone = Zoneid;
            }

            //if (strUserTypeId == "22") {

            //    //added by Kamini on 22 July 2022 for multiple super stockist selection
            //    var strParty = $("#ddlCustomer").dxTagBox("instance").option("selectedItems");
            //    if (strParty.length == 1) {
            //        VarPartyId = strParty[0].PartyID;
            //    }
            //    else {
            //        for (z = 0; z < strParty.length; z++) {
            //            PartyIdList = PartyIdList + strParty[z].PartyID + ",";
            //        }
            //        VarPartyId = PartyIdList.substring(0, PartyIdList.length - 1);
            //    }

            var data = {
                'SalesZoneID': SelZone, 'RegionID': SelRegion, 'SuperStockistID': SelStockist, 'RunDate': Vardate, 'ProductTypeID': SelCat, 'ProductID': SelItem };



            var dataWithAntiforgeryToken = $.extend(data, { '__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val() });
            //alert(dataWithAntiforgeryToken);
            $.ajax({
                url: "../Report/ReprimarySalesProductwiseReportDateToDateReport",
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (Response) {
                    if (SelItem == -1) {
                        BindReportdata();
                    }
                    loadPanel.hide();
                    if (Response.StatusId != "99") {
                        debugger;
                        SalesReportList = Response.Result;
                        $("#tblitem").dxDataGrid('instance').option("dataSource", SalesReportList);
                        BindReportdata();
                        fillbuyer();

                    }
                    else {
                        alert(Response.Status);
                    }

                },
                error: function (xhr) {
                    loadPanel.hide();
                    alert("Data size is too large22!");
                }
            });
        }
        catch (e) {
            loadPanel.hide();
            alert("Data size is too large11!");
        }
    }

    
    function GetColumn() {
        debugger;
        var retUArr = [];

         if ($('#chkQty').is(':checked') && $('#chkValue').is(':checked')) {
            retUArr = [
                {
                    dataField: "PartyCode", caption: "Party Code", headerCellTemplate: function (header, info) {
                        $('<div>').html("Party<br/>Code").css('white-space', 'nowrap').appendTo(header);
                    },
                },

                {
                    dataField: "Party", caption: "Party", headerCellTemplate: function (header, info) {
                        $('<div>').html("Party").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "Region", caption: "Region", headerCellTemplate: function (header, info) {
                        $('<div>').html("Region").css('white-space', 'nowrap').appendTo(header);
                    },
                },

                {
                    dataField: "SalesZone", caption: "Sales Zone", headerCellTemplate: function (header, info) {
                        $('<div>').html("Sales Zone").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "OurCode", caption: "OurCode", headerCellTemplate: function (header, info) {
                        $('<div>').html("Our Code").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "OurName", caption: "OurName", headerCellTemplate: function (header, info) {
                        $('<div>').html("Our Name").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "MTDCY", caption: "MTDCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTDCY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },
                {
                    dataField: "YTDCY", caption: "YTDCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTDCY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "MTDLY", caption: "MTDLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTDLY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "YTDLY", caption: "YTDLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTDLY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "MTDQCY", caption: "MTDQCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTDQCY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "YTDQCY", caption: "YTDQCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTDQCY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "MTDQLY", caption: "MTDQLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTDQLY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "YTDQLY", caption: "YTDQLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTDQLY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

            ]
        }


         
         else if ($('#chkQty').is(':checked')) {
            retUArr = [
                {
                    dataField: "PartyCode", caption: "Party Code", headerCellTemplate: function (header, info) {
                        $('<div>').html("Party<br/>Code").css('white-space', 'nowrap').appendTo(header);
                    },
                },

                {
                    dataField: "Party", caption: "Party", headerCellTemplate: function (header, info) {
                        $('<div>').html("Party").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "Region", caption: "Region", headerCellTemplate: function (header, info) {
                        $('<div>').html("Region").css('white-space', 'nowrap').appendTo(header);
                    },
                },

                {
                    dataField: "SalesZone", caption: "Sales Zone", headerCellTemplate: function (header, info) {
                        $('<div>').html("Sales Zone").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "OurCode", caption: "OurCode", headerCellTemplate: function (header, info) {
                        $('<div>').html("Our Code").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "OurName", caption: "OurName", headerCellTemplate: function (header, info) {
                        $('<div>').html("Our Name").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                
                {
                    dataField: "MTDQCY", caption: "MTDQCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTDQCY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "YTDQCY", caption: "YTDQCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTDQCY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "MTDQLY", caption: "MTDQLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTDQLY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "YTDQLY", caption: "YTDQLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTDQLY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

            ]

        }
       
        else if ($('#chkValue').is(':checked')) {
            retUArr = [
                {
                    dataField: "PartyCode", caption: "Party Code", headerCellTemplate: function (header, info) {
                        $('<div>').html("Party Code").css('white-space', 'nowrap').appendTo(header);
                    },
                },

                {
                    dataField: "Party", caption: "Party", headerCellTemplate: function (header, info) {
                        $('<div>').html("Party").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "Region", caption: "Region", headerCellTemplate: function (header, info) {
                        $('<div>').html("Region").css('white-space', 'nowrap').appendTo(header);
                    },
                },

                {
                    dataField: "SalesZone", caption: "Sales Zone", headerCellTemplate: function (header, info) {
                        $('<div>').html("Sales Zone").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "OurCode", caption: "OurCode", headerCellTemplate: function (header, info) {
                        $('<div>').html("Our Code").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "OurName", caption: "OurName", headerCellTemplate: function (header, info) {
                        $('<div>').html("Our Name").css('white-space', 'nowrap').appendTo(header);
                    },
                },
                {
                    dataField: "MTDCY", caption: "MTHCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTD CY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },
                {
                    dataField: "YTDCY", caption: "YTDCY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTD CY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "MTDLY", caption: "MTDLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("MTD LY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },

                {
                    dataField: "YTDLY", caption: "YTDLY", headerCellTemplate: function (header, info) {
                        $('<div>').html("YTD LY").css('white-space', 'nowrap').appendTo(header);
                    }, format: { type: "fixedPoint", precision: 2 }
                },
            ]

        }


       
        return retUArr;
    }

    function GetColumn1() {
        var retUArr1 = [];
        
         if ($('#chkQty').is(':checked') && $('#chkValue').is(':checked')) {
            retUArr1 = [
                { name: "PartyCode", column: "PartyCode", displayFormat: "Grand Total" },
                { name: "MTDCY", column: "MTDCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDCY", column: "YTDCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "MTDLY", column: "MTDLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDLY", column: "YTDLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "MTDQCY", column: "MTDQCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDQCY", column: "YTDQCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "MTDQLY", column: "MTDQLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDQLY", column: "YTDQLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },

            ]
        }



        else if ($('#chkQty').is(':checked')) {
            retUArr1 = [
                { name: "PartyCode", column: "PartyCode", displayFormat: "Grand Total" },
                { name: "MTDQCY", column: "MTDQCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDQCY", column: "YTDQCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "MTDQLY", column: "MTDQLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDQLY", column: "YTDQLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                

            ]
        }
        else if ($('#chkValue').is(':checked')) {
            retUArr1 = [
                { name: "PartyCode", column: "PartyCode", displayFormat: "Grand Total" },
                { name: "MTDCY", column: "MTDCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDCY", column: "YTDCY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "MTDLY", column: "MTDLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                { name: "YTDLY", column: "YTDLY", summaryType: "sum", valueFormat: { type: "fixedPoint", precision: 2 }, displayFormat: "{0}" },
                

            ]
        }

       
        return retUArr1;
    }


    function BindReportdata() {
        debugger;
        //var selValue = $('input[name=rbtRptGroup]:checked').attr('id');
            //$("#DivRadio").attr("style", "display:none");
            $("#tblitem").dxDataGrid({
                dataSource: SalesReportList,
                loadPanel: {
                    enabled: true
                },
                height: 500,
                allowSorting: true,
                columnAutoWidth: true,
                allowColumnResizing: true,
                filterRow: { visible: true },
                headerFilter: {
                    visible: true,
                    allowSearch: true
                },
                paging: {
                    pageSize: 20,
                    enabled: false
                },
                columnFixing: {
                    enabled: true
                },


                columns: GetColumn(),
                export: {
                    fileName: "Reprimary Sales ProductWise Report"
                },
                showRowLines: true,
                showBorders: true,
                summary: {
                    totalItems: GetColumn1(),
            }

            });
    }

    

    function Excel() {
        $("#tblitem").dxDataGrid("instance").exportToExcel(false);
    }


</script>

